# Load Data - CS 513 Data Cleaning Final Project

Team 162 - Miffy's Kitchen

In [1]:
import pandas as pd

# Load raw CSVs into DataFrame
parent_folder = 'NYPL-menus'
dish = pd.read_csv(f"{parent_folder}/Dish.csv")
menu = pd.read_csv(f"{parent_folder}/Menu.csv")
menu_item = pd.read_csv(f"{parent_folder}/MenuItem.csv")
menu_page = pd.read_csv(f"{parent_folder}/MenuPage.csv")

# display(dish)
# display(menu)
# display(menu_item)
# display(menu_page)

# *Data Profiling*

## Dish Profile

In [2]:
dish.describe()

,id,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
count,423397.000000,0.0,423397.000000,423397.000000,423397.000000,423397.000000,394297.000000,394297.000000
mean,264456.594900,NaN,3.060489,3.146794,1675.514555,1679.299738,0.965265,1.603875
std,150489.070889,NaN,27.818178,29.962122,651.321461,651.934580,6.714564,12.696274
min,1.000000,NaN,0.000000,-6.000000,0.000000,0.000000,0.000000,0.000000
25%,132374.000000,NaN,1.000000,1.000000,1900.000000,1900.000000,0.000000,0.000000
50%,269636.000000,NaN,1.000000,1.000000,1914.000000,1917.000000,0.000000,0.000000
75%,397135.000000,NaN,1.000000,1.000000,1949.000000,1955.000000,0.400000,0.600000
max,515677.000000,NaN,7740.000000,8484.000000,2928.000000,2928.000000,1035.000000,3050.000000

In [3]:
df = dish
df.info(verbose=True)

columns_with_mv = df.columns[df.isnull().any()]
df[columns_with_mv].isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423397 entries, 0 to 423396
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              423397 non-null  int64
 1   name            423397 non-null  object
 2   description     0 non-null       float64
 3   menus_appeared  423397 non-null  int64
 4   times_appeared  423397 non-null  int64
 5   first_appeared  423397 non-null  int64
 6   last_appeared   423397 non-null  int64
 7   lowest_price    394297 non-null  float64
 8   highest_price   394297 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 29.1+ MB

description      423397
lowest_price      29100
highest_price     29100
dtype: int64

## MenuItem Profile

In [4]:
menu_item.describe()

,id,menu_page_id,price,high_price,dish_id,xpos,ypos
count,1.332726e+06,1.332726e+06,886810.000000,91905.000000,1.332485e+06,1.332726e+06,1.332726e+06
mean,6.978984e+05,4.759487e+04,12.838627,8.106321,1.580110e+05,3.890132e-01,5.497062e-01
std,3.999807e+05,2.203921e+04,499.547387,90.095222,1.677620e+05,2.208378e-01,2.239532e-01
min,1.000000e+00,1.300000e+02,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000e+00
25%,3.502512e+05,3.204900e+04,0.250000,0.500000,5.089000e+03,1.842860e-01,3.669165e-01
50%,7.024105e+05,5.337100e+04,0.400000,1.250000,8.070000e+04,3.771430e-01,5.672940e-01
75%,1.045549e+06,6.682300e+04,1.000000,3.000000,3.325240e+05,5.653330e-01,7.385308e-01
max,1.385906e+06,7.742500e+04,180000.000000,7800.000000,5.156770e+05,9.853330e-01,9.982300e-01

In [5]:
df = menu_item
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332726 entries, 0 to 1332725
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   id            1332726 non-null  int64
 1   menu_page_id  1332726 non-null  int64
 2   price         886810 non-null   float64
 3   high_price    91905 non-null    float64
 4   dish_id       1332485 non-null  float64
 5   created_at    1332726 non-null  object
 6   updated_at    1332726 non-null  object
 7   xpos          1332726 non-null  float64
 8   ypos          1332726 non-null  float64
dtypes: float64(5), int64(2), object(2)
memory usage: 91.5+ MB

In [6]:
# null count as percentage or sum
fields = ["price", "high_price", "menu_page_id", "dish_id"]
null = menu_item[fields].isnull()
counts = null.sum()

print("=== Null Count ===")
print(counts)
print("=== Null Percent ===")
print(null.mean())

=== Null Count ===
price            445916
high_price      1240821
menu_page_id          0
dish_id             241
dtype: int64
=== Null Percent ===
price           0.334589
high_price      0.931040
menu_page_id    0.000000
dish_id         0.000181
dtype: float64

In [7]:
# IC Violations and Constraints

# check for duplicate rows
df = menu_item
dups = df[df.duplicated(subset=['id'], keep=False)]
print("=== Duplicate Rows ===")
display(dups)

# FK and PK
# PK Verification
counts = df.groupby('id')['id'].nunique()
bad_id = counts[counts > 1].index
bad_df = df[df['id'].isin(bad_id)]
print("=== Duplicate Primary Keys ===")
display(bad_df)

pk_violations = bad_df.groupby(['id']).size().to_dict()
print("=== Primary Key Violations ===")
display(pk_violations)

# FK Verification
bad_fk_menu_item_to_dish = df[~df["dish_id"].isin(dish["id"])]
bad_fk_menu_item_to_menu_page = df[~df["menu_page_id"].isin(menu_page["id"])]
print("=== Foreign Key Violations ===")
print("--- MenuItem to Dish - dish_id ---")
display(bad_fk_menu_item_to_dish["dish_id"])
print("--- MenuItem to Menu - menu_page_id ---")
display(bad_fk_menu_item_to_menu_page["menu_page_id"])

=== Duplicate Rows ===

Empty DataFrame
Columns: [id, menu_page_id, price, high_price, dish_id, created_at, updated_at, xpos, ypos]
Index: []

=== Duplicate Primary Keys ===

Empty DataFrame
Columns: [id, menu_page_id, price, high_price, dish_id, created_at, updated_at, xpos, ypos]
Index: []

=== Primary Key Violations ===

{}

=== Foreign Key Violations ===
--- MenuItem to Dish - dish_id ---

17058           NaN
20044           NaN
28458           NaN
30291           NaN
33111           NaN
             ...
889158          NaN
930243          NaN
936817          NaN
939086          NaN
1001144    395403.0
Name: dish_id, Length: 244, dtype: float64

--- MenuItem to Menu - menu_page_id ---

Series([], Name: menu_page_id, dtype: int64)

## MenuPage Profile

In [8]:
# null count as percentage or sum
fields = ["id", "menu_id"]
null = menu_page[fields].isnull()
counts = null.sum()

print("=== Null Count ===")
print(counts)
print("=== Null Percent ===")
print(null.mean())

=== Null Count ===
id         0
menu_id    0
dtype: int64
=== Null Percent ===
id         0.0
menu_id    0.0
dtype: float64

In [9]:
# IC Violations and Constraints

# check for duplicate rows
df = menu_page
dups = df[df.duplicated(subset=['id'], keep=False)]
print("=== Duplicate Rows ===")
display(dups)

=== Duplicate Rows ===

Empty DataFrame
Columns: [id, menu_id, page_number, image_id, full_height, full_width, uuid]
Index: []

In [10]:

# FK and PK
# PK Verification
counts = df.groupby('id')['id'].nunique()
bad_id = counts[counts > 1].index
bad_df = df[df['id'].isin(bad_id)]
print("=== Duplicate Primary Keys ===")
display(bad_df)

pk_violations = bad_df.groupby(['id', 'id']).size().to_dict()
print("=== Primary Key Violations ===")
display(pk_violations)

# FK Verification
bad_fk_menu_page = df[~df["menu_id"].isin(menu["id"])]
print("=== Foreign Key Violations ===")
print("--- MenuPage to Menu - menu_id ---")
display(bad_fk_menu_page["menu_id"])

=== Duplicate Primary Keys ===

Empty DataFrame
Columns: [id, menu_id, page_number, image_id, full_height, full_width, uuid]
Index: []

=== Primary Key Violations ===

{}

=== Foreign Key Violations ===
--- MenuPage to Menu - menu_id ---

0        12460
1        12460
2        12460
3        12460
4        12461
         ...
66922    35525
66923    35525
66924    35525
66925    35525
66926    35525
Name: menu_id, Length: 5803, dtype: int64

# *OpenRefine Cleaning Verification*

In [11]:
parent_folder = 'NYPL-menus-clean'
# dish = pd.read_csv(f"{parent_folder}/Dish.csv")
# menu = pd.read_csv(f"{parent_folder}/Menu.csv")
menu_item_clean = pd.read_csv(f"{parent_folder}/MenuItem.csv")
menu_page_clean = pd.read_csv(f"{parent_folder}/MenuPage.csv")

## Dish Verify

In [12]:
# null count as percentage or sum
fields = ['description']
null = dish[fields].isnull()
counts = null.sum()

print("=== Count ===")
print(counts)
print("=== Percent ===")
print(null.mean())

=== Count ===
description    423397
dtype: int64
=== Percent ===
description    1.0
dtype: float64

In [13]:
# IC Violations and Constraints

# check for duplicate rows
df = dish
dups = df[df.duplicated(subset=['id'], keep=False)]
display(dups)

# FK and PK
counts = df.groupby('id')['name'].nunique()
bad_id = counts[counts > 1].index
bad_df = df[df['id'].isin(bad_id)]
display(bad_df)

ic3_violations = bad_df.groupby(['id', 'name']).size().to_dict()
display(ic3_violations)

Empty DataFrame
Columns: [id, name, description, menus_appeared, times_appeared, first_appeared, last_appeared, lowest_price, highest_price]
Index: []

Empty DataFrame
Columns: [id, name, description, menus_appeared, times_appeared, first_appeared, last_appeared, lowest_price, highest_price]
Index: []

{}

## MenuItem Verify

In [14]:
# null count as percentage or sum
fields = ["price", "high_price", "menu_page_id", "dish_id"]
null = menu_item_clean[fields].isnull()
counts = null.sum()

print("=== Null Count ===")
print(counts)
print("=== Null Percent ===")
print(null.mean())

=== Null Count ===
price             0
high_price        0
menu_page_id      0
dish_id         241
dtype: int64
=== Null Percent ===
price           0.000000
high_price      0.000000
menu_page_id    0.000000
dish_id         0.000181
dtype: float64

In [15]:
# IC Violations and Constraints

# check for duplicate rows
df = menu_item_clean
dups = df[df.duplicated(subset=['id'], keep=False)]
print("=== Duplicate Primary Keys ===")
display(dups)

# FK and PK
# PK Verification
counts = df.groupby('id')['id'].nunique()
bad_id = counts[counts > 1].index
bad_df = df[df['id'].isin(bad_id)]
display(bad_df)

pk_violations = bad_df.groupby(['id', 'id']).size().to_dict()
print("=== Primary Key Violations ===")
display(pk_violations)

# FK Verification
bad_fk_menu_item_to_dish = df[~df["dish_id"].isin(dish["id"])]
bad_fk_menu_item_to_menu_page = df[~df["menu_page_id"].isin(menu_page["id"])]
print("=== Foreign Key Violations ===")
print("--- MenuItem to Dish - dish_id ---")
display(bad_fk_menu_item_to_dish)
print("--- MenuItem to MenuPage - menu_page_id ---")
display(bad_fk_menu_item_to_menu_page)

=== Duplicate Primary Keys ===

Empty DataFrame
Columns: [id, menu_page_id, price, high_price, dish_id, created_at, updated_at, xpos, ypos]
Index: []

Empty DataFrame
Columns: [id, menu_page_id, price, high_price, dish_id, created_at, updated_at, xpos, ypos]
Index: []

=== Primary Key Violations ===

{}

=== Foreign Key Violations ===
--- MenuItem to Dish - dish_id ---

,id,menu_page_id,price,high_price,dish_id,created_at,updated_at,xpos,ypos
17058,19171,6706,0.00,0.00,NaN,2011-04-21 15:37:27 UTC,2011-04-21 15:45:51 UTC,0.250000,0.910850
20044,22322,3817,0.00,0.00,NaN,2011-04-21 18:16:13 UTC,2011-04-21 18:17:01 UTC,0.341429,0.704721
28458,31566,7355,0.00,0.00,NaN,2011-04-22 02:50:52 UTC,2011-04-22 18:48:41 UTC,0.568571,0.346818
30291,33486,11348,0.00,0.00,NaN,2011-04-22 06:35:32 UTC,2011-04-22 06:39:39 UTC,0.164286,0.477882
33111,36645,7356,0.00,0.00,NaN,2011-04-22 16:23:28 UTC,2011-04-22 18:59:11 UTC,0.184286,0.346567
...,...,...,...,...,...,...,...,...,...
889158,932573,47175,0.00,0.00,NaN,2012-05-14 03:16:30 UTC,2012-05-14 03:22:36 UTC,0.687143,0.275966
930243,974746,62976,0.00,0.00,NaN,2012-06-20 05:17:58 UTC,2012-06-20 05:32:58 UTC,0.210000,0.115715
936817,981533,62740,0.00,0.00,NaN,2012-06-22 20:57:32 UTC,2012-06-22 20:58:18 UTC,0.175714,0.250947
939086,983976,65327,0.00,0.00,NaN,2012-06-23 21:47:35 UTC,2012-06-23 21:41:38 UTC,0.405714,0.176490
1001144,1047160,69117,0.45,0.45,395403.0,2012-08-14 09:52:01 UTC,2012-08-14 09:52:01 UTC,0.377333,0.469635

--- MenuItem to MenuPage - menu_page_id ---

Empty DataFrame
Columns: [id, menu_page_id, price, high_price, dish_id, created_at, updated_at, xpos, ypos]
Index: []

## MenuPage Verify

In [16]:
# null count as percentage or sum
fields = ["id", "menu_id"]
null = menu_page_clean[fields].isnull()
counts = null.sum()

print("=== Count ===")
print(counts)
print("=== Percent ===")
print(null.mean())

=== Count ===
id         0
menu_id    0
dtype: int64
=== Percent ===
id         0.0
menu_id    0.0
dtype: float64

In [17]:
# IC Violations and Constraints

# check for duplicate rows
df = menu_page_clean
dups = df[df.duplicated(subset=['id'], keep=False)]
print("=== Duplicate Rows ===")
display(dups)

# FK and PK
# PK Verification
counts = df.groupby('id')['id'].nunique()
bad_id = counts[counts > 1].index
bad_df = df[df['id'].isin(bad_id)]
print("=== Duplicate Primary Keys ===")
display(bad_df)

pk_violations = bad_df.groupby(['id']).size().to_dict()
print("=== Primary Key Violations ===")
pk_violations

# FK Verification
bad_fk_menu_page = df[~df["menu_id"].isin(menu["id"])]
print("=== Foreign Key Violations ===")
print("--- MenuPage to Menu - menu_id ---")
display(bad_fk_menu_page)

=== Duplicate Rows ===

Empty DataFrame
Columns: [id, menu_id, page_number, image_id, full_height, full_width, uuid]
Index: []

=== Duplicate Primary Keys ===

Empty DataFrame
Columns: [id, menu_id, page_number, image_id, full_height, full_width, uuid]
Index: []

=== Primary Key Violations ===
=== Foreign Key Violations ===
--- MenuPage to Menu - menu_id ---

,id,menu_id,page_number,image_id,full_height,full_width,uuid
0,119,12460,1.0,1603595,7230.0,5428.0,510d47e4-2955-a3d9-e040-e00a18064a99
1,120,12460,2.0,1603596,5428.0,7230.0,510d47e4-2956-a3d9-e040-e00a18064a99
2,121,12460,3.0,1603597,7230.0,5428.0,510d47e4-2957-a3d9-e040-e00a18064a99
3,122,12460,4.0,1603598,7230.0,5428.0,510d47e4-2958-a3d9-e040-e00a18064a99
4,123,12461,1.0,1603591,7230.0,5428.0,510d47e4-2959-a3d9-e040-e00a18064a99
...,...,...,...,...,...,...,...
66922,77417,35525,2.0,5194206,2942.0,1990.0,af4751c0-6212-0132-6245-58d385a7bbd0
66923,77418,35525,3.0,5194207,2837.0,2628.0,af604d50-6212-0132-b41d-58d385a7bbd0
66924,77419,35525,4.0,5194208,2852.0,2002.0,af7910c0-6212-0132-e227-58d385a7bbd0
66925,77420,35525,5.0,5194209,2835.0,1990.0,af92d3f0-6212-0132-6b8d-58d385a7bbd0
66926,77421,35525,6.0,5194210,2821.0,2130.0,afac7cc0-6212-0132-44a7-58d385a7bbd0

# Data Cleaning

## Foreign Key Violations - MenuItem

In [18]:
# Since we cannot reconstruct what dish_id should be within MenuItem, we must delete these rows
menu_item_clean = menu_item_clean[~menu_item_clean["id"].isin(bad_fk_menu_item_to_dish["id"])]

# Similarly, we cannot reconstruct what menu_page_id should be from within MenuItem, so we must delete these rows
menu_item_clean = menu_item_clean[~menu_item_clean["id"].isin(bad_fk_menu_item_to_menu_page["id"])]

# Verify all foreign key constraints have been resolved
display(menu_item_clean[~menu_item_clean["dish_id"].isin(dish["id"])])
display(menu_item_clean[~menu_item_clean["menu_page_id"].isin(menu_page["id"])])

Empty DataFrame
Columns: [id, menu_page_id, price, high_price, dish_id, created_at, updated_at, xpos, ypos]
Index: []

Empty DataFrame
Columns: [id, menu_page_id, price, high_price, dish_id, created_at, updated_at, xpos, ypos]
Index: []

## Foreign Key Violations - MenuPage

In [19]:
# Since we cannot reconstruct what menu_id should be within MenuPage, we must delete these rows
menu_page_clean = menu_page_clean[~menu_page_clean["id"].isin(bad_fk_menu_page["id"])]

# Verify all foreign key constraints have been resolved
display(menu_page_clean[~menu_page_clean["menu_id"].isin(menu["id"])])

Empty DataFrame
Columns: [id, menu_id, page_number, image_id, full_height, full_width, uuid]
Index: []